# Ignore the build artifacts (Rust creates huge target folders)
target/

# Ignore the databases and local sync state
data/
*.sled/
*.db*

# Ignore environment secrets
.env

# Ignore Git history (Docker doesn't need the .git folder to compile)
.git
.gitignore

# Ignore documentation and IDE settings
README.md
.vscode/
.idea/